<section id="content">
    <h1>Health &amp; Fitness</h1>
    <ul class="channel-content">
        {{#each data}}
        <li id="{{channelId}}">
            <img src="{{thumbnailUrl}}" alt="" />
            <br><span class="channel-title"><a href="https://www.youtube.com/channel/{{channelId}}">{{channelTitle}}</a></span>
            <br><span class="channel-published">Published: {{publishedAt}}</span>
            <br><span class="channel-title">{{title}}</span>
            <br><span class="channel-desc">{{description}}</span>
        </li>
        {{/each}}
    </ul>
</section>